<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Kalanchiyam\internal_logs\internallog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Extensions.AzureStorage"/>
  </extensions>
  <targets>
    <target xsi:type="AzureBlobStorage"
        name="AzureBlobStorage" 
        blobName="log-${shortdate}.json"
        container="kalanchiyam"
        connectionString="DefaultEndpointsProtocol=https;AccountName=kalanchiyam;AccountKey=Xx3FiSfTirwwqqwLOa5/QJZaaRbRf4Dl2La15E3aT9axtiFN/0lR7WhMoTv8/yU4bFbvfliwAeybKad0tzDxKw==;EndpointSuffix=core.windows.net"
            >
      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false" quoting="Nothing">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        <column name="detailedMessage" layout="${event-properties:item=DetailedMessage}" />
        <column name="data">
          <layout xsi:type="JsonLayout">
            <attribute name="callMethood" layout="${callsite:includeSourcePath=true}" />
            <attribute name="stacktrace" layout="${stacktrace:topFrames=10}" />
            <attribute name="exception" layout="${exception:format=ToString}"/>
          </layout>
        </column>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="AzureBlobStorage"/>
     </rules>
</nlog>